<ul class='errors'>
<<<<<<< HEAD
  <% object.errors.full_messages.each do |error| %> <!-- #meaning its just some generic object -->
=======
  <% object.errors.full_messages.each do |error| %>
>>>>>>> 00e131ec7371118a0f83f1f4636f162f0d405034
    <li><%= error %></li>
  <% end %>
</ul>