/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 */
 
body {
  background: url('az_subtle.png');
  font-family: helvetica;
  font-weight: 200;
}

 #wrapper {
 	margin: auto;
 	width: 960px;
  background-color: white;
 }

 #yield {
 	margin-top: 20px;
  padding: 20px;
 }

 .lorem {
 	width: 700px;
 	color: gray;
 	margin: auto;
 	font-size: 12px;
 }

 nav {
 	background: gray;
 	height: 140px;
 	text-align: center;
 }
 nav a {
 	color: white;
 	height: 15px;
 	padding: 20px;
 	text-align: center;
	text-decoration: none;
 	font-size: 20px;
 	margin: 10px;
 }

img {
	width: 200px;
	height: 200px;
}

.update {
	margin: 0;
	margin-top: 20px
}

footer {
	background: gray;
	height: 20px;
	margin-top: 100px;
	color: white;
}

footer p {
	font-size: 12px;
	padding: 5px;
}

h1 {
	margin-bottom: 30px;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.logo {
	font-size: 80px;
	color: white;
	margin-bottom: 20px;
}

a:hover {
	color: pink;
}

footer {
	text-align: right;
  padding: 15px;
}

.errors {
	color: red;
  margin-bottom: 15px;
}

label {
  display: block;
}
