/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require_self
 */

 nav {
 	background: black;
 	color: white;
 	height: 15px;
 	padding: 20px;
 	
 }

a {
	color: white;
	text-decoration: none;
 	color: white;
 	font-size: 15px;
 	text-align: right;
 	margin: 10px;
}

a:hover {
	background: yellow;
	color: black;
}

footer {
	text-align: right
}

h1 {
	font-size: 100px;
	text-align: center;
}